body {
    max-width: 2480px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Rubik', sans-serif;
}
.cursor-pointer {
    cursor: pointer
}
.icon{
    cursor: pointer;
}
.container { 
    @apply ps-4 lg:ps-24 pt-10
}